<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>

<!--action="#" means stay on the page you are on-->
    <form th:object="${newMessage}" th:action="@{/home}" action="#" method="post">

        <!-- we can use the shortcut field name immediately instead of (dot syntax)
             referencing the object/variable name first since this is a th:object -->
        <!-- <input th:field="*{newMessage.text}" type="text"> -->
        <input th:field="*{text}" type="text">

        <input type="submit">
    </form>

    <h1 th:each="msg : ${greetings}"
        th:text="${msg}"
        th:unless="${msg.contains('goodbye')}"
    >Hello, homepage!</h1>

</body>

</html>